<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brasleirão 2023</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <header class="menuPrincipal">
        <nav>
            <ul>
                <li><a href="{{ url_for('index')}}">Página Inicial</a></li>
                <li><a href="{{ url_for('inserir_time')}}">Inserir Time</a></li>
                <li><a href="{{ url_for('exibir_tabela')}}">Visualizar Tabela</a></li>
            </ul>
        </nav>
    </header>   
    <section class=" conteudo">
        <h1>Tabela do Brasleirão 2023</h1>
        <table>
            <thead>
                <tr>
                    <th>Classificação</th>
                    <th>Nome do Time</th>
                </tr>
            </thead>


            <tbody>
                {% for dado in todos %}
                <tr>
                    <td>{{dado['Classif']}}</td>
                    <td>{{dado['Nome'] }}</td>
                </tr>
                {% endfor %}
            </tbody>

          
        </table>
    </section>
</body>
</html>