<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capeonato de Futebol</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <header class="menuPrincipal">
        <nav>
            <ul>
                <li><a href="{{ url_for('index')}}">Página Inicial</a></li>
                <li><a href="{{ url_for('inserir_time')}}">Inserir Time</a></li>
                <li><a href="{{ url_for('exibir_tabela')}}">Visualizar Tabela</a></li>
            </ul>
        </nav>
    </header>   
    <section class="conteudo">
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th>Classificação</th>
                        <th>Nome do Time</th>
                        <th>Gols Marcados</th>
                        <th>Gols Sofridos</th>
                        <th>Saldo de Gols</th>
                    </tr>
                </thead>
    
    
                <tbody>
                    {% for dado in todos %}
                        {% set id = loop.index0 + 1 %}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{dado['nome'] }}</td>
                        <td>{{dado['golsM'] }}</td>
                        <td>{{dado['golsS'] }}</td>
                        <td>{{dado['Sgols'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
    
              
            </table>
        </div>
    </section>
</body>
</html>