<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capeonato de Futebol</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <header class="menuPrincipal">
        <nav>
            <ul>
                <li><a href="{{ url_for('index')}}">Página Inicial</a></li>
                <li><a href="{{ url_for('inserir_time')}}">Inserir Time</a></li>
                <li><a href="{{ url_for('exibir_tabela')}}">Visualizar Tabela</a></li>
            </ul>
        </nav>
    </header>   
    <section class="conteudo">
        <div class="equipe">
            <div class="aluno">
                CHRISTIAN ROBERTO DA SILVA - Nr. 8
            </div>
            <div class="aluno">
                NICOLAS RAFAEL SILVA DE ARAUJO
            </div>
            <div class="aluno">
                ALANDELON PINHEIRO DO AMARAL - Nr. 1
            </div>
            <div class="aluno">
                RAICA RIBEIRO GONCALVES
            </div>
            <div class="aluno">
                MIGUEL VINICIUS CAMPI
            </div>
        </div>

    </section>
    <footer class="rodape">
        <p>&copy; Brasleirão 2023</p>
    </footer>
</body>
</html>