<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Acadêmico</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <header class="menuPrincipal">
        <nav>
            <ul>
                <li><a href="{{ url_for('index')}}">Página Inicial</a></li>
                <li><a href="{{ url_for('inserir_time')}}">Inserir Time</a></li>
                <li><a href="{{ url_for('exibir_tabela')}}">Visualizar Tabela</a></li>
            </ul>
        </nav>
    </header>   
    
    <section class="conteudo">
        <form method="post">
            <label for="nome_time">Nome do Time</label>
            <input type="text" id="nome_time" name="nome_time" required>

        </form>
    </section>
    <footer class="rodape">
        <p>&copy; 2023 Sistema Acadêmico</p>
    </footer>
</body>
</html>