<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capeonato de Futebol</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <header class="menuPrincipal">
        <nav>
            <ul>
                <li><a href="{{ url_for('index')}}">Página Inicial</a></li>
                <li><a href="{{ url_for('inserir_time')}}">Inserir Time</a></li>
                <li><a href="{{ url_for('exibir_tabela')}}">Visualizar Tabela</a></li>
            </ul>
        </nav>
    </header>   
    
    <section class="conteudo">
        <div class="formulario">
            <form method="post">
                <label for="nome">Nome do Time</label><br>
                <input type="text" id="nome" name="nome" required><br>
                <label for="golsM">Gols Marcados</label>
                <input type="number" id="golsM" name="golsM" required><br>
                <label for="golsS">Gols Sofridos</label>
                <input type="number" id="golsS" name="golsS" required><br>

                <input type="submit" value="Cadastrar">
            </form>
        </div>
      
    </section>
    <footer class="rodape">
        <p>&copy; 2023 Sistema Acadêmico</p>
    </footer>
</body>
</html>